 <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        <!-- Navigation -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">
                        <i class="fa fa-play-circle"></i> <span class="light">Start</span> SentiTwit
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#kword">Company Search</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#analytics">Analytics</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
<!--------Log-in/Sign-Up Drop-down ------>

                       <!--  <li>Logged in as {{this.userName}}</li> -->
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- Intro Header -->
        <header class="intro">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h1 class="brand-heading">SentiTwit</h1>
                            <p>A STOCK TWITTERVERSE SENTIMENT ANALYTICS TOOL</p>
                            <p class="intro-text">Search Below</p>
                            <a href="#kword" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- About Section -->
        <section id="kword" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Company Search</h2>
                    <form class="create-form" action="/api/createStock" method="post">
                        <div class="form-group">
                            <label for="kw">Ticker:</label>
                            <input type="text" id="kw" name="company">
                        </div>
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </section>
        <!-- Download Section -->
        <section id="analytics" class="content-section text-center">
            <div class="download-section">
                <div class="container">
                    <div class="col-lg-8 col-lg-offset-2">
                      <h1>current Sentiment{{this.score}}</h1>
                      <h2>Stock Name {{this.company}}</h2>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Section -->
        <section id="contact" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contact Aluminum_Falcons</h2>
                    <p>Say hello!</p>
                <p>email@email.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                </li>
                <li>
                    <a href="#" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<footer>
    <div class="container text-center">
        <p> &copy2017 Aluminum Falcons</p>
    </div>
</footer>